.name{
    background-color: mintcream;
    text-align: center;
    padding:160px 20px ;
}
h1,h2,h3,h4,h5,h6{
    color: black;
    font-family: "playfair Display", serif;
    font-weight: bold;
}
p{
    font-family: "poppins", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
}
h1{
    font-size: 90px;
}
h2{
    font-size: 60px;
}
h4{
    font-size: 48px;
}
.name h2{
    font-family: "poppins", sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 2;

}
.btn-branding{
    background: rgb(160, 249, 204);
    border-radius: 4px;
    color: white;
    font-size: 20px;
    line-height: 27px;
    padding: 12px 20px;

}
.btn-branding-outline{
    border:1px solid rgb(139, 233, 186);
    color: rgb(139, 233, 186);
    border-radius: 4px;
    font-size: 20px;
    line-height: 27px;
    padding: 12px 20px;
}
@media (max-width: 900px) {
    h1 {
      font-size: 44px;
      line-height: 2;
    }
  
    h2 {
      font-size: 44px;
    }
    h4{
        font-size: 18px;
    }
  
    .name {
      padding: 80px 20px;
    }
  
    .project-desciption {
      padding: 0;
      text-align: center;
    }
  }
 
 .content-container{
    padding:160px 20px;
    text-align: center;
    padding: 0;
  }
 .content{
    margin: 30px;
  }
 .content h1{
    font-size: 64px;
    line-height: 80px;

  }
 .content h2 {
    font-size: 18px;
    font-family: "poppins", sans-serif;

  }
  .content h3{
    font-size: 24px;
    font-family: "poppins", sans-serif;
    line-height: 1.5;
    margin: 20px 0 0;
  }
  content p{
    font-size: 14px;
  }
  footer .email-link{
    text-decoration: none;
    color: black;
    font-size: 24px;
  }

 footer .email-link:hover{
    color: rgb(139, 233, 186);
 }
 footer{
    margin: 60px 0;
 }
 footer .social-links a{
    color: rgb(139, 233, 186);
    margin: 0 20px;
    background:mintcream ;
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50px;

 }
footer.social-links a:hover{
    color: white;
    background:rgb(139, 233, 186); ;
}
footer .contact-box{
    background: mintcream;
    padding: 30px;
    border-radius: 10px;
    margin: 50px 270px 50px 270px;
}